@font-face {
  font-family: Vidaloka;
  font-weight: 400;
  font-style: normal;
  src: url('../../../fonts/vidaloka-regular.otf');
  src: url('../../../fonts/vidaloka-regular.otf') format('opentype'),
       url('../../../fonts/vidaloka-regular.woff2') format('woff2'),
       url('../../../fonts/vidaloka-regular.woff') format('woff');
}

.menu,
.site {
  font-family: 'Vidaloka', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.5;
  text-transform: none;
}

.menu {
  font-size: 20px;
}